[SddmGreeterTheme]
Name=Sugar Light Mod
Description=The sweetest theme around
Author=DENZVELOPER - Marian Alexander Arlt
Copyright=Copyright (C) 2018 DENZVELOPER & Marian Arlt
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/denzveloper/sddm-sugar-light
Screenshot=Preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=dandyoctvian@gmail.com
Theme-Id=sugar-light-mod
Theme-API=2.11
